

  @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url('images/photo.jpg');
    background-size: cover;
    background-position: center;
}

.overlay{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rbga(0,0,0,0.9);
    font-family: 'Sevillana', cursive;
    font-size: 40px;
}

.title{
    margin-top: 30px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.col{
    margin-top: 50px;
    width: 1000px;
    display: flex;
    justify-content: center;
    color: white;
    
}

.col div{
    width: 250px;
    text-align: center;
}

input{
    height: 50px;
    width: 60%;
    background-color: (255,255,255,0.8);
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

